# Compiled Object files
*.o
*.obj

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.a
*.lib

# Executables
*.exe
*.out

# Build directories
build/
bin/
Codes/Class 04 - Arrays/rle-encoding.cpp
Codes/Class 04 - Arrays/trim.cpp