# Compiled Object files
*.o
*.obj

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.a
*.lib

# Executables
*.exe
*.out

# Build directories
build/
bin/

# Ignore compiled C++ files without extension
*.$SELECTION_PLACEHOLDER$

# Ignore specific files that wasn't done
Codes/Class 04 - Arrays/rle-encoding.cpp
Codes/Class 04 - Arrays/trim.cpp